[submodule "assets/file"]
	path = assets/file
	url = https://github.com/file/file.git
[submodule "tools"]
	path = tools
	url = https://github.com/Aptivi/tools
[submodule "DocGen/theme"]
	path = DocGen/theme
	url = https://github.com/Aptivi/docfx-apt
