name: Build libmagic library (Windows - ARM64)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    
jobs:
  build:
    runs-on: windows-11-arm

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
          ref: ${{ github.ref }}
      - name: Setting up environment
        uses: msys2/setup-msys2@v2
        with:
          msystem: CLANGARM64
          update: true
          install: |
            base-devel
            mingw-w64-clang-aarch64-clang
            mingw-w64-clang-aarch64-make
            mingw-w64-clang-aarch64-libgnurx
            autoconf
            automake
            libtool
      - name: MPG123 compilation
        shell: msys2 {0}
        run: |
          export lt_cv_deplibs_check_method=pass_all
          cd assets/file ; autoreconf -f -i ; ./configure --prefix=/clangarm64 --disable-silent-rules ; make -j4 ; make install DESTDIR=$PWD/outlib
      - name: Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "libmagic library"
          path: assets/file/outlib
