name: Build libmagic library (Linux - AMD64)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    
jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
          ref: ${{ github.ref }}
      - name: Setting up environment
        run: |
          sudo apt update
          sudo apt install libbz2-dev liblzma-dev zlib1g-dev
      - name: libmagic compilation
        run: |
          cd assets/file ; autoreconf -f -i ; ./configure --disable-silent-rules ; make -j4 ; make install DESTDIR=$PWD/outlib
      - name: Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "libmagic library"
          path: assets/file/outlib
